* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin-bottom: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-image: url('../img/bg.svg');
    animation: move 15s linear alternate infinite;
}

@keyframes move {
    50% {
        background-position: 50%;
    }
}

section {
    background: #fff;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background: #333;
    color: #fff;
    bottom: 0;
    width: 100%;
}