<?xml version="1.0" encoding="" ?>
<html xmlns:th = "http://www.thymeleaf.org" lang="ES">

    <head>
        <link href="../static/css/home.css" th:href="@{/css/home.css}" rel="stylesheet" />
        <title>AeroDream - Home</title>
    </head>

    <body>

        <header>
            <h1>Sistema de Reserva de Vuelos - AeroDream</h1>
            <form th:action="@{/logout}" method="get" onclick="return confirm('¿Está seguro de cerrar sesión?');">
                <input type="submit" value="cerrar sesión">
            </form>
        </header>

        <main>
            <section>
                <h2>Reservar</h2>
                <a href="reserva/booking">reservar</a>
            </section>
            <section>
                <h2>Reservas hechas</h2>
                <a href="reserva/booked">reservas</a>
            </section>
            <section>
                <h2>Vuelos Presentes</h2>
                <a href="vuelo/buscar">vuelos</a>
            </section>
        </main>

        <footer>
            <p>&copy; 2025 AeroDream. Todos los derechos reservados.</p>
        </footer>

    </body>

</html>